body {
    background-color: darkturquoise;
    background-image: linear-gradient(90deg, rgb(56, 239, 125), rgb(17, 153, 142));
    color:black
}

@keyframes colorChanging {
    
}

.title > h1{
    text-transform: uppercase;
    color:rgb(255, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    filter: drop-shadow(10px 10px 5px black);
}

.hidden {
    display: none;
}


.title:hover .hidden {
    display: block;
}