body {
    background-color: darkturquoise;
    background-image: linear-gradient(90deg, rgb(56, 239, 125), rgb(17, 153, 142));
    color:black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

a {
    color: blue;
    
}

@keyframes shadowChanging {
    0% {filter: drop-shadow(10px 10px 5px black);}
    25% {filter: drop-shadow(10px -10px 5px black);}
    50% {filter: drop-shadow(-10px -10px 5px black);}
    75% {filter: drop-shadow(-10px 10px 5px black);}
    100% {filter: drop-shadow(10px 10px 5px black);}
}
@media only screen and (max-width: 600px) {
    
    h1 {
        font-size: 3em !important;
    } h2 {
        font-size: 4em !important;
    }
}
#time {
    overflow: hidden;
    height: auto;
    max-height: 0;
}

h1 {
    text-transform: uppercase;
    width: inherit;
    color:red;
    font-family:'Ubuntu', sans-serif;
    font-size: 6em;
    filter: drop-shadow(10px 10px 5px black);
    animation: shadowChanging 4s infinite;
    animation-timing-function: linear;
    border-top: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
    border-radius: 8px;
    animation-delay: 0.75s;
    transition: max-height 0.5s;
    height: auto;
}
#time.open {
    max-height: 300px !important;
}
#time {
    text-align: center;
    color: cyan;
}
#onlineOrOffline {
    font-size: 3em !important;
}
.hidden {
    display: none !important;
}

#timeRemaining,
#timeElapsed,
#next,
#onlineOrOffline {
    margin: 50px;
    text-align: center;
    font-size: 5em;
}
#timeRemaining {
    color: red;
}
#timeElapsed {
    color: lime;
}

h2 {
    color:teal;
    font-size: 6em;
}
#youtube-video {
    margin: 0 auto;
    width: 560px;
    font-size: 30px;
    text-align: center;
}

#youtube-video iframe,
#youtube-video figcaption {
    border-radius: 10px;
    border: 5px solid #73AD21;
    background-color: white;
}
