body {
    background-color: darkturquoise;
    background-image: linear-gradient(90deg, rgb(56, 239, 125), rgb(17, 153, 142));
    color:black
}

@-webkit-keyframes shadowChanging {
    0% {filter: drop-shadow(10px 10px 5px black);}
    25% {filter: drop-shadow(10px -10px 5px black);}
    50% {filter: drop-shadow(-10px -10px 5px black);}
    75% {filter: drop-shadow(-10px 10px 5px black);}
    100% {filter: drop-shadow(10px 10px 5px black);}
}

.title > h1{
    text-transform: uppercase;
    color:rgb(255, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    filter: drop-shadow(10px 10px 5px black);
    -webkit-animation: shadowChanging 2s infinite;
}

.hidden {
    display: none;
}


.title:hover .hidden {
    display: block;
}