body {
    background-color: darkturquoise;
    background-image: linear-gradient(90deg, rgb(56, 239, 125), rgb(17, 153, 142));
    color:black
}

@keyframes shadowChanging {
    0% {filter: drop-shadow(10px 10px 5px black);}
    25% {filter: drop-shadow(10px -10px 5px black);}
    50% {filter: drop-shadow(-10px -10px 5px black);}
    75% {filter: drop-shadow(-10px 10px 5px black);}
    100% {filter: drop-shadow(10px 10px 5px black);}
}

.title h1 {
    text-transform: uppercase;
    width: inherit;
    color:red;
    font-family:'Ubuntu', sans-serif;
    font-size: 6em;
    filter: drop-shadow(10px 10px 5px black);
    animation: shadowChanging 4s infinite;
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    border-top: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
    border-radius: 8px;

}
h2 {
    color:teal;
    font-size: 4em;
}
#youtube-video {
    margin: 0 auto;
    width: 560px;
    font-size: 30px;
    text-align: center;
}

#youtube-video iframe,
#youtube-video figcaption {
    border-radius: 10px;
    border: 5px solid #73AD21;
    background-color: white;
}
